@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

#intro a {
	color: inherit;
	font-weight: 700;
	transition: all ease 0.2s;
	border-bottom: 1px solid transparent;
	padding-bottom: 3px;
}

#intro a:hover {
	border-color: currentColor;
}

h1 {
	margin-top: 0;
	font-size: 4em;
}

h2 {
	font-weight: 300;
	font-size: 17px;
}

h1, h2 {
	margin: 40px 0;
}

hr {
	border: 0;
	border-bottom: 1px solid #33332a;
	margin: auto;
	width: 30px;
}

section {
	height: 100vh;
	display: flex;
	align-items: center;
}

section > div {
	width: 100%;
}

#examples {
	text-align: center;
}

#examples a {
	display: inline-block;
	height: 200px;
	width: 200px;
	margin: 10px;
}

#examples img {
	width: inherit;
}